@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    background: rgb(243, 252, 250);
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    background-color: rgb(29, 26, 26);
    opacity: 0.5;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.logo {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: whitesmoke;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(253, 18, 155);
    font-weight: bolder;
    transition: all 0.3s;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0.8;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: azure;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animasi */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: red;
    transform: rotate(45deg) translate(-1px, 1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: red;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Batas Header */

/* Main */
/* Home */

.container-home {
    width: 1400px;
    list-style: none;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.home-kiri {
    flex: 1;
    opacity: 0.8;
    margin-top: 70px;
    font-size: 50px;
    font-weight: 900;
    color: rgb(29, 26, 26);
    letter-spacing: 5px;
    transition: all 0.5s;
}

.home-kanan {
    flex: 0;
}

span {
    color: rgb(253, 18, 155);
}

.btn-home {
    padding-top: 60px;
    margin: 20px 0;
    font-size: 20px;
}

.btn {
    padding: 12px 24px;
    color: rgb(253, 18, 155);
    font-weight: bolder;
    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
    background-color: rgb(29, 26, 26);
    border: 1px solid;
}

.btn:hover {
    opacity: 1;
}

/* Batas Home */

/* About */
.container-about {
    width: 1300px;
    list-style: none;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.sidebar-kiri {
    flex: 0.8;
    text-align: left;
}

.sidebar-kiri img {
    width: 250px;
    border-radius: 20px;
    border: 3px solid rgb(253, 18, 155);
}

.sidebar-kiri h3 {
    padding: 5px;
}

.sidebar-kiri ul li {
    text-align: justify;
    padding: 2px;
}

span {
    color: rgb(219, 18, 68);
    font-weight: 600;
}

.kolom-utama {
    flex: 2.5;
}

.kolom-utama h2 {
    text-align: center;
    color: rgb(253, 18, 155);
    margin-bottom: 20px;
}

.kolom-utama p {
    text-align: justify;
    margin-bottom: 20px;
}

.sidebar-kanan {
    flex: 0.2;
    padding-left: 20px;
}

/* Batas About */

/* Skill */

.skill {
    background: white;
}

h2 {
    text-align: center;
    color: rgb(253, 18, 155);
}

.container-skill {
    width: 1300px;
    list-style: none;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.skill-1 {
    text-align: center;
}

.skill-2 {
    text-align: center;
    color: orange;
    font-weight: bold;
}

.skill-3 {
    text-align: center;
    color: blue;
    font-weight: bold;
}

.skill-4 {
    text-align: center;
}

/* Batas Skill */

/* Portofolio */

.container-porto {
    width: 1300px;
    list-style: none;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(253, 18, 155);
}

/* Batas Portofolio */

/* Contact */

.container-contact {
    width: 1300px;
    list-style: none;
    margin: 60px auto;
    text-align: center;
}

.container-contact h1 {
    margin-top: 0;
    font-weight: 200;
}

.txtb {
    border: 1px solid rgb(253, 18, 155);
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.txtb input,
.txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

/* Batas Contact */

/* Thx */

.container-thx {
    width: 1300px;
    list-style: none;
    margin: 60px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: rgb(253, 18, 155);
}

.dicoding {
    padding-top: 120px;
}

/* Batas Thx */

/* Footer */
footer {
    display: flex;
    background-color: rgb(29, 26, 26);
    opacity: 0.5;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: whitesmoke;
}

/* Batas Footer  */

/* Responsive */

/* tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

    .container-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .kolom-utama {
        padding-top: 10px;
    }

    .sidebar-kanan {
        justify-content: space-between;
        width: 100%;
    }

    .skill h2 {
        padding-top: 20px;
    }

    .container-skill {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .container-porto {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container-porto img {
        width: 500px;
        margin: 20px;
    }

    .container-contact {
        width: 100%;
    }

    .container-thx {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

/* mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(29, 26, 26);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    nav ul li a {
        color: whitesmoke;
    }

    nav ul li a:hover {
        color: rgb(253, 18, 155);
        font-weight: 900;
    }

    .home {
        width: 100%;
    }

    .home h1 {
        font-size: 50px;
        text-align: center;
    }

    .container-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .kolom-utama {
        padding-top: 10px;
    }

    .sidebar-kanan {
        justify-content: space-between;
        width: 80%;
    }

    .skill h2 {
        padding-top: 20px;
    }

    .container-skill {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .container-porto {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container-porto img {
        margin: 20px
    }


    .container-contact {
        width: 100%;
    }

    .container-thx {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}